body
{
    background-image: linear-gradient(to right, rgb(185, 57, 80) , rgb(245, 245, 65));
    color: #fff;
}
    
#container
{
    height: 100vh;
    width: 100vw;
    padding-top: 300px;
   
}

#container a
{
    text-decoration: none;
    font-style: none;
    color: #fff;
}
