body
{
    color: #fff;
    margin: 0!important;
    padding: 0 !important;
}
    
#container
{
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 200px;
    margin: 0;
    padding-left: 0;
    padding-right:0;
    background: url('../images/images/couscous.jpg') no-repeat bottom;
    background-size: cover;
    overflow: hidden;
}
.logo{
    font-size:39px;
    font-weight:bold;
    color:rgb(245, 197, 66);
}

.wave
{
    margin-top: -500px;
    height: 80px;
    width: 100vw;
}
.link
{
    text-decoration: none;
    font-style: none;
    color:white;
    
}
.ing
{
    
  font-size: 40px;
   
}
.footer{
    margin-top: 100px;
}

.butn
{
   
    margin: 5px;
    font-size: 30px;
    border: 2px solid rgb(245, 245, 65);
    padding: 1em 2.2em;
    
    background-color: transparent;
    color: rgb(245, 245, 65);
    cursor: pointer;
    transition: 500ms;
    text-align: center;
    width: 420px;
}
.butn:hover
{
    background-color: rgb(225, 197, 125);
    transform: translateY(-10px);
    
}
.noHover{
    pointer-events: none;
}
.videotitle
{
    font-size: 28px;
 
}

.card{
    margin:20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(222, 103, 85);
    transition: 500ms;
    background-color:blanchedalmond;
    width: 730px;
    height: 100hv;
}
.card:hover
{
    transform: translateY(-10px);
    cursor: pointer;
}
.detail
{
    display: block;
    margin: 0 auto;
}
.active
{
    border: 3px solid rgb(251, 230, 73);
    background-color:coral;
    box-shadow: 5px 5px 5px 5px rgb(225, 197, 125);
  
}
.hide {
    display: none;
  }

.parag
{
    font-size: 25px;
    margin-left: 300px;
    margin-right: 300px;
}
.top-banner
{
    width: 100vw;
    height: 100vh;
    padding: 16.875rem 0 9.375rem;
    background: url('../images/images/couscous.jpg') no-repeat bottom;
    background-size: cover;

    
}
.titre
{
    font-size: 5rem;
    font-weight: 1000;
    margin-bottom: 3rem;
    color : rgb(225, 197, 125);
}
.text
{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: 1px;
}
.main-btn
{
    display: inline-block;
    padding: 0.625rem 2.6rem;
    line-height: 1.5625rem;
    border : 0.1875rem solid rgb(225, 197, 125);
    border-radius: 10px 10px 10px 10px;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: rgb(225, 197, 125);
    color: white;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s ;
    -moz-transition: all .4s ease-out 0s;
}
.main-btn:hover
{
    background-color: transparent;
    
}
.main-btn .link :hover{
    color: white;
}
.title
{
    font-size:40px;
}
.frame
{
    border-radius: 10px;
    margin: 40px;
    box-shadow: 5px 5px 5px 5px rgb(210, 191, 143);
    width: 670px;
    height: 400px;

}
#logo
{
    width:95px;
}


@media screen and (max-width: 760px) {
    body
   {
    margin: 0!important;
    padding: 0 !important;
   }
  
   #logo
   {
    width: 70px;
   }
   .mr
   {
    padding:50px;
   }
   .logo
   {
    font-size: 25px;
   }
    .butn
    {
        font-size: 15px;
        margin: 0px;
        padding: 7px;
        width: 150px;
        
    }
    .frame{
        width: 315px;
        height: 210px;
        align-items: center;

    }
    .parag
    {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 15px;
    }
    .card{
        margin:40px;
        width: 340px;
        margin:30px;

    }
    .title
    {
        font-size: 20px;
    }
    .ing
    {
        font-size:20px;
    }

   
  }
  @media screen and (min-width: 1900px) {
    .frame{
        width: 900px;
        height: 500px;

    }
   
  }